rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Allow read and write access to all authenticated users
    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}